<div class="container mt-4">
    <h1>Music Library</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter directory path" [(ngModel)]="directoryPath">
        <div class="input-group-append">
            <button class="btn btn-primary" (click)="scanDirectory()">Scan Directory</button>
        </div>
    </div>

    <!-- Artists Section -->
    <div class="container mt-4">
        <h2 class="mb-4 hover-clickable" (click)="navigateTo('artists')">Artistes</h2>
        <div class="d-flex flex-nowrap overflow-auto element-container">
            <div *ngFor="let artist of artists" class="p-2">
                <div class="card artist-card hover-clickable" (click)="navigateTo('artist-detail/' + artist.id)">
                    <img [src]="artist.pictureUrl || 'assets/default-artist.jpg'" class="card-img-top artist-cover"
                        alt="{{ artist.name }}">
                    <div class="card-body text-center artist-info">
                        <h5 class="card-title text-truncate">{{ artist.name }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Albums Section -->
    <div class="container mt-4">
        <h2 class="mb-4 hover-clickable" (click)="navigateTo('albums')">Albums</h2>
        <div class="d-flex flex-nowrap overflow-auto element-container">
            <ng-container *ngFor="let artist of artists">
                <div *ngFor="let album of artist.albums" class="p-2">
                    <div class="card album-card hover-clickable" (click)="navigateTo('album-detail/' + album.id)">
                        <img [src]="album.coverUrl || 'assets/default-cover.jpg'" class="card-img-top album-cover"
                            alt="{{ album.title }}">
                        <div class="card-body text-center album-info">
                            <h5 class="card-title text-truncate">{{ album.title }}</h5>
                            <p class="card-text text-truncate">{{ artist.name }}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- Musics Section -->
    <div class="container mt-4">
        <h2 class="mb-4 hover-clickable">Tracks</h2>
        <div class="d-flex flex-nowrap overflow-auto element-container">
            <ng-container *ngFor="let artist of artists">
                <ng-container *ngFor="let album of artist.albums">
                    <div *ngFor="let track of album.tracks" class="p-2">
                        <div class="card music-card hover-clickable">
                            <img [src]="album.coverUrl || 'assets/default-cover.jpg'" class="card-img-top music-cover"
                                alt="{{track.title}}">
                            <div class="card-body text-center music-info">
                                <h5 class="card-title text-truncate">{{artist.name}}</h5>
                                <p class="card-text text-truncate">{{track.title}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>