<div *ngIf="element.type == 'album'" class="card element-card">
  <img [src]="element.coverUrl" class="card-img-top element-cover album-cover" alt="{{element.name}}">
  <div class="card-body text-center element-info">
    <h5 class="card-title">{{element.name}}</h5>
    <p class="card-text">{{element.artist}}</p>
  </div>
</div>

<div *ngIf="element.type == 'music'" class="card element-card">
  <img [src]="element.coverUrl" class="card-img-top element-cover music-cover" alt="{{element.name}}">
  <div class="card-body text-center element-info">
    <h5 class="card-title">{{element.name}}</h5>
    <p class="card-text">{{element.artist}}</p>
  </div>
</div>

<div *ngIf="element.type == 'artist'" class="card element-card">
  <img [src]="element.coverUrl" class="card-img-top element-cover artist-cover" alt="{{element.name}}">
  <div class="card-body text-center element-info">
    <h5 class="card-title">{{element.name}}</h5>
    <p class="card-text">{{element.artist}}</p>
  </div>
</div>