<app-navbar></app-navbar>
<div class="container mt-4">
  <h1>Artistes</h1>
  <div class="row">
    <div *ngFor="let artist of artists" class="col-md-3 mb-4">
      <div class="card artist-card">
        <img [src]="artist.pictureUrl || 'assets/default-artist.jpg'" class="card-img-top artist-cover" alt="{{ artist.name }}">
        <div class="card-body text-center artist-info">
          <h5 class="card-title text-truncate" title="{{ artist.name }}">{{ artist.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
