<app-navbar></app-navbar>
<div class="container mt-4">
    <div *ngIf="artist">
      <div class="row">
        <div class="col-md-4">
          <img [src]="artist.pictureUrl || 'assets/logo/flex-logo-gris.svg'" class="img-fluid rounded" alt="{{ artist.name }}">
        </div>
        <div class="col-md-8">
          <h1>{{ artist.name }}</h1>
          <p class="card-text" [innerHTML]="artist.bio"></p>
        </div>
      </div>
  
  <!-- Albums Section -->
  <div class="container mt-4">
    <h2 class="mb-4 hover-clickable" (click)="navigateTo('albums')">Albums</h2>
    <div class="d-flex flex-nowrap overflow-auto element-container">
      <div *ngFor="let album of artist.albums" class="p-2">
        <div class="card album-card hover-clickable" (click)="navigateTo('album/' + album.id)">
          <img [src]="album.coverUrl || 'assets/logo/flex-logo-gris.svg'" class="card-img-top album-cover rounded" alt="{{ album.title }}">
          <div class="card-body text-center album-info">
            <h5 class="card-title text-truncate">{{ album.title }}</h5>
            <p class="card-text text-truncate">{{ album.artist }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Musics Section -->
    <div class="container mt-4">
        <h2 class="mb-4 hover-clickable" (click)="navigateTo('musics')">Musics</h2>
        <div class="d-flex flex-nowrap overflow-auto element-container">
        <div *ngFor="let track of artist.albums.tracks" class="p-2">
            <div class="card music-card hover-clickable">
            <img [src]="track.coverUrl || 'assets/logo/flex-logo-gris.svg'" class="card-img-top music-cover rounded" alt="{{track.title}}">
            <div class="card-body text-center music-info">
                <h5 class="card-title text-truncate" title="{{track.title}}">{{track.title}}</h5>
                <p class="card-text text-truncate" title="{{track.artist}}">{{track.artist}}</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="!artist">
      <p>Loading artist details...</p>
    </div>
  </div>
  