<app-navbar></app-navbar>
<div class="container mt-4">

    <div class="container mt-4">
        <h1>Recommandations</h1>
    </div>
    
    <div class="container mt-4">
        <h1 routerLink="/musics" style="cursor: pointer;">Music Library</h1>
        <!-- Artists Section -->
        <div class="container mt-4">
            <h2 class="mb-4" (click)="navigateTo('artists')" style="cursor: pointer;">Artists</h2>
            <div class="d-flex flex-nowrap overflow-auto element-container">
                <div *ngFor="let artist of artists" class="p-2">
                    <div class="card artist-card" (click)="navigateTo('artist/' + artist.id)" style="cursor: pointer;">
                        <img [src]="artist.pictureUrl || 'assets/default-artist.jpg'" class="card-img-top artist-cover"
                            alt="{{ artist.name }}">
                        <div class="card-body text-center artist-info">
                            <h5 class="card-title text-truncate">{{ artist.name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h1 routerLink="/movies" style="cursor: pointer;">Movies Library</h1>
    </div>


    <!-- Movies Section -->

</div>