<app-navbar></app-navbar>
<div class="container mt-4">

    <div class="container mt-4">
        <h1>Recommandations</h1>
        <div *ngIf="artists.length === 0" class="text-center no-files-found">
            <p>No files found.</p>
        </div>

    </div>

    <div class="container mt-4">
        <h1 class="hover-clickable" routerLink="/musics">Music Library</h1>
    </div>

    <!-- Artists Section -->
    <div class="container mt-4">
        <h2 class="mb-4 hover-clickable" *ngIf="artists.length > 0" (click)="navigateTo('artists')">Artists</h2>
        <div class="d-flex flex-nowrap overflow-auto element-container" *ngIf="artists.length > 0">
            <div *ngFor="let artist of artists" class="p-2">
                <div class="card artist-card hover-clickable" (click)="navigateTo('artist/' + artist.id)">
                    <img [src]="artist.pictureUrl || 'assets/logo/flex-logo-gris.svg'"
                        class="card-img-top artist-cover rounded" alt="{{ artist.name }}">
                    <div class="card-body text-center artist-info">
                        <h5 class="card-title text-truncate">{{ artist.name }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="artists.length === 0" class="text-center no-files-found">
            <p>No files found.</p>
        </div>
    </div>

    <div class="container mt-4">
        <h1 class="hover-clickable" routerLink="/movies">Movies Library</h1>
    </div>

    <!-- Movies Section -->
    <div class="container mt-4">
        <div class="d-flex flex-nowrap overflow-auto element-container" *ngIf="movies.length > 0">
            <div *ngFor="let movie of movies" class="p-2">
                <div class="card movie-card hover-clickable" (click)="navigateTo('movie/' + movie.id)">
                    <img [src]="movie.picturePath || 'assets/logo/flex-logo-gris.svg'"
                        class="card-img-top movie-cover rounded" alt="{{ movie.title }}">
                    <div class="card-body text-center movie-info">
                        <h5 class="card-title text-truncate">{{ movie.title }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="movies.length === 0" class="text-center no-files-found">
            <p>No files found.</p>
        </div>
    </div>

</div>
