<app-navbar></app-navbar>
<div class="container mt-4">
  <h1>Albums</h1>
  <div class="row">
    <ng-container *ngFor="let artist of artists">
      <div *ngFor="let album of artist.albums" class="col-md-3 mb-4">
        <div class="card album-card hover-clickable" (click)="navigateTo('album/' + album.id)">
          <img [src]="album.coverUrl || 'assets/logo/flex-logo-gris.svg'" class="card-img-top album-cover rounded" alt="{{ album.title }}">
          <div class="card-body text-center album-info">
            <h5 class="card-title text-truncate" title="{{ album.title }}">{{ album.title }}</h5>
            <p class="card-text text-truncate" title="{{ artist.name }}">{{ artist.name }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>