<app-navbar></app-navbar>
<div class="container">
    <div class="p-3">
        <h1>Paramètres</h1>
    </div>
    <div class="accordion" id="accordionSettings">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    Changer mes informations personnelles
                </button>
            </h2>
            <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <form [formGroup]="changeInfoForm" (ngSubmit)="changeInfo()" id="formChangeInfo" method="POST">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="pseudo" class="form-label">Pseudo</label>
                                <input type="text" class="form-control" id="pseudo" name="pseudo" value="{{user.pseudo}}" formControlName="pseudo">
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="firstname" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{user.firstname}}" formControlName="firstname">
                                </div>
                                <div class="col">
                                    <label for="name" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" formControlName="name">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="birthdate" class="form-label">Date de naissance</label>
                                <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{user.birthdate}}" formControlName="birthdate">
                            </div>
                            <button type="submit" class="btn btn-primary">Valider</button>
                            <div id="error-message-info" class="text-danger text-align-center"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Changer de mot de passe
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" id="formChangePassword" method="POST">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" placeholder="" required>
                                <label for="oldPassword">Ancien mot de passe</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="" required>
                                <label for="newPassword">Nouveau mot de passe</label>
                                <div class="form-text">
                                    Les caractéristiques minimales pour un mot de passe sont :
                                    <ul>
                                        <li>12 caractères</li>
                                        <li>1 majuscule</li>
                                        <li>1 chiffre</li>
                                        <li>1 caractère spécial</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" formControlName="newPassword2" placeholder="" required>
                                <label for="newPasswordConfirm">Confirmer le nouveau mot de passe</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Valider</button>
                            <div id="error-message-password" class="text-danger text-align-center"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Double authentification (2FA) <div *ngIf="tfa; else noTfaSpan"><span class="badge text-bg-success ms-2">Actif</span></div><ng-template #noTfaSpan><span class="badge text-bg-danger ms-2">Inactif</span></ng-template>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <div *ngIf="tfa; else noTfa">
                        <p>La double authentification est activée sur votre compte.</p>
                        <form [formGroup]="disableTfaForm" (ngSubmit)="disableTfa()" id="formDisableTfa" method="POST">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password_check" name="password_check" formControlName="disablePassword" placeholder="" required>
                                <label for="password_check">Mot de passe</label>
                            </div>
                            <button type="submit" class="btn btn-danger">Désactiver la double authentification</button>
                            <div id="error-message" class="text-danger text-align-center"></div>
                        </form>
                    </div>
                    <ng-template #noTfa>
                        <p>Scanner le QRCode ou taper le code secret manuellement dans votre application de double authentification. <span class="text-secondary">Exemple: Google Authenticator, Microsoft Authenticator, etc...</span></p>
                        <div class="row">
                            <div class="col-3">
                                <div class="card mb-3">
                                    <img src="{{tfa_qrcode}}" class="rounded">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{tfa_secret}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <form [formGroup]="enableTfaForm" (ngSubmit)="enableTfa()" id="formEnableTfa" method="POST">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="tfa_code" name="tfa_code" formControlName="tfa_code" placeholder="" required>
                                        <label for="tfa_code">Code de vérification</label>
                                        <div class="form-text">
                                            Insérer le code généré par l'application.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="password_check_tfa" name="password_check_tfa" formControlName="enablePassword" placeholder="" required>
                                        <label for="password_check_tfa">Mot de passe</label>
                                        <div class="form-text">
                                            Merci de renseigner votre mot de passe pour vérifier votre identité.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Activer la double authentification</button>
                                    <div id="error-message" class="text-danger text-align-center"></div>
                                </form>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Supprimer mon compte
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <p>Attention, cette action est irréversible.</p>
                    <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" id="formDeleteAccount" method="POST">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password_check_delete" name="password_check_delete" formControlName="passwordDelete" placeholder="" required>
                                <label for="password_check_delete">Mot de passe</label>
                            </div>
                            <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>