<app-navbar></app-navbar>
<div class="container">
    <div class="p-3">
        <h1>Settings</h1>
    </div>
    <div class="accordion" id="accordionSettings">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero"
                    aria-expanded="true" aria-controls="collapseZero">
                    Change my personal data
                </button>
            </h2>
            <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <form [formGroup]="changeInfoForm" (ngSubmit)="changeInfo()" id="formChangeInfo" method="POST">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="pseudo" class="form-label">Nickname</label>
                                <input type="text" class="form-control" id="pseudo" name="pseudo"
                                    value="{{user.pseudo}}" formControlName="pseudo">
                                <div *ngIf="pseudo?.invalid && (pseudo?.dirty || pseudo?.touched)" class="text-danger">
                                    <div *ngIf="pseudo?.hasError('pattern')">Nickname must contain between 1 and 32
                                        characters.</div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        value="{{user.firstname}}" formControlName="firstname" autocomplete="name">
                                </div>
                                <div class="col">
                                    <label for="name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="{{user.name}}"
                                        formControlName="name" autocomplete="family-name">
                                </div>
                            </div>
                            <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)"
                                class="text-danger">
                                <div *ngIf="firstname?.hasError('pattern')">First name must contain between 1 and 32
                                    characters.</div>
                            </div>
                            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                                <div *ngIf="name?.hasError('pattern')">Last name must contain between 1 and 32
                                    characters.</div>
                            </div>
                            <div class="mb-3">
                                <label for="birthdate" class="form-label">Birth Date</label>
                                <input [class.is-valid]="birthdate?.valid && (birthdate?.dirty || birthdate?.touched)"
                                    [class.is-invalid]="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)"
                                    type="date" class="form-control" id="birthdate" name="birthdate"
                                    value="{{user.birthdate}}" formControlName="birthdate">
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!changeInfoForm.valid">Apply</button>
                            <div id="error-message-info" class="text-danger text-align-center"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Change password
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" id="formChangePassword"
                        method="POST">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input
                                    [class.is-valid]="oldPassword?.valid && (oldPassword?.dirty || oldPassword?.touched)"
                                    [class.is-invalid]="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
                                    type="password" class="form-control" id="oldPassword" name="oldPassword"
                                    formControlName="oldPassword" placeholder="" required>
                                <label for="oldPassword">Current password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input
                                    [class.is-valid]="newPassword?.valid && (newPassword?.dirty || newPassword?.touched)"
                                    [class.is-invalid]="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"
                                    type="password" class="form-control" id="newPassword" name="newPassword"
                                    formControlName="newPassword" placeholder="" required>
                                <label for="newPassword">New password</label>
                                <div class="form-text">
                                    The minimum requirements for a password are :
                                    <ul>
                                        <li [class.text-success]="checkPasswordCriteria()['validLength']">12 characters
                                        </li>
                                        <li [class.text-success]="checkPasswordCriteria()['hasUppercase']">1 uppercase
                                        </li>
                                        <li [class.text-success]="checkPasswordCriteria()['hasDigit']">1 digit</li>
                                        <li [class.text-success]="checkPasswordCriteria()['hasSpecial']">1 special
                                            character</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input
                                    [class.is-valid]="newPassword2?.valid && (newPassword2?.dirty || newPassword2?.touched)"
                                    [class.is-invalid]="newPassword2?.invalid && (newPassword2?.dirty || newPassword2?.touched)"
                                    type="password" class="form-control" id="newPasswordConfirm"
                                    name="newPasswordConfirm" formControlName="newPassword2" placeholder="" required>
                                <label for="newPasswordConfirm">Confirm new password</label>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Apply</button>
                            <div id="error-message-password" class="text-danger text-align-center"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Two-Factor Authentication (2FA) <div *ngIf="tfa; else noTfaSpan"><span
                            class="badge text-bg-success ms-2">Enabled</span></div><ng-template #noTfaSpan><span
                            class="badge text-bg-danger ms-2">Disabled</span></ng-template>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <div *ngIf="tfa; else noTfa">
                        <p>Two-Factor Authentication is activated on your account.</p>
                        <form [formGroup]="disableTfaForm" (ngSubmit)="disableTfa()" id="formDisableTfa" method="POST">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password_check" name="password_check"
                                    formControlName="disablePassword" placeholder="" required>
                                <label for="password_check">Password</label>
                            </div>
                            <button type="submit" class="btn btn-danger" [disabled]="!disableTfaForm.valid">Disable Two-Factor Authentication</button>
                            <div id="error-message" class="text-danger text-align-center"></div>
                        </form>
                    </div>
                    <ng-template #noTfa>
                        <p>Scan the QRCode or enter the secret code manually in your Two-Factor Authentication
                            application.
                            <span class="text-secondary">Example: Google Authenticator, Microsoft
                                Authenticator, ...</span>
                        </p>
                        <div class="row">
                            <div class="col-3">
                                <div class="card mb-3">
                                    <img src="{{tfa_qrcode}}" class="rounded">
                                    <div class="card-body">
                                        <h5 class="card-title text-center code">{{tfa_secret}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <form [formGroup]="enableTfaForm" (ngSubmit)="enableTfa()" id="formEnableTfa"
                                    method="POST">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="tfa_code" name="tfa_code"
                                            formControlName="tfa_code" placeholder="" required>
                                        <label for="tfa_code">2FA code</label>
                                        <div class="form-text">
                                            Insert the code generated by the application.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="password_check_tfa"
                                            name="password_check_tfa" formControlName="enablePassword" placeholder=""
                                            required>
                                        <label for="password_check_tfa">Password</label>
                                        <div class="form-text">
                                            Please enter your password to verify your identity.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" [disabled]="!enableTfaForm.valid">Enable Two-Factor
                                        Authentication</button>
                                    <div id="error-message" class="text-danger text-align-center"></div>
                                </form>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Delete my account
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSettings">
                <div class="accordion-body">
                    <p>Please note that this action is permanent.</p>
                    <form [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" id="formDeleteAccount"
                        method="POST">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password_check_delete"
                                    name="password_check_delete" formControlName="passwordDelete" placeholder=""
                                    required>
                                <label for="password_check_delete">Password</label>
                            </div>
                            <button type="submit" class="btn btn-danger" [disabled]="!deleteAccountForm.valid">Delete my account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">&nbsp;</div>
    <div class="container mt-4">&nbsp;</div>
</div>