.music-player {
    position: fixed;
    bottom: 0;
    height: 8%;
    width: 100%;
    color: white;
    background-color: #333;
}

input[type="range"] {
    -webkit-slider-thumb-background: #ff0000;
    -moz-range-thumb-background: #ff0000;
    -ms-thumb-background: #ff0000;
    accent-color: #ff0000;
}

.left-controls {
    display: flex;
    align-items: center;
}

.left-controls button {
    font-size: 2em;
    margin: 0 5px;
}

.right-controls {
    font-size: 1.5em;
}

.left-controls .play-pause {
    font-size: 3.5em;
}

.progress-bar {
    top: -3px;
    height: 3px;
    width: 100%;
    position: absolute;
}

.progress-bar:hover {
    height: 5px;
    top: -4px;
}

.controls button {
    background: none;
    cursor: pointer;
    border: none;
}

.controls button:hover {
    animation: zoom 0.1s forwards;
}

.controls button:not(:hover) {
    animation: zoom-out 0.1s forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.music-info {
    display: flex;
    align-items: center;
    padding: 0;
}

.music-info img {
    margin-right: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    margin: 0;
}

.album-artist {
    margin: 0;
    color: gray;
}

.controls .play-pause:hover i {
    color: #ff0000;
}

.volume-container {
    position: absolute;
    display: none;
    bottom: 0;
    top: 0;
    right: 100%;
    padding-right: 5px;
    z-index: 2;
    border-radius: 5px;
}

.volume-container input[type="range"] {
    width: 100px;
}

.controls .volume-button:hover .volume-container {
    display: block;
}

@media (max-width: 768px) {
    .music-player {
        height: 16%;
        min-height: 150px;
    }
}