<div class="music-player" style="z-index: 10;" #audioElement>
	<input class="progress-bar" type="range" min="0" max="100" step="1" [value]="progress" (input)="seek($event)">
	<audio #audioPlayer>
	  <source [src]="trackInfo[0].filePath" type="audio/mp3">
	</audio>
	<div class="controls">
	  <div class="left-controls">
		<button (click)="prevTrack()"><i class="bi bi-skip-start-fill"></i></button>
		<button class="play-pause" (click)="togglePlayPause()">
		  <i *ngIf="!isPlaying" class="bi bi-play-fill"></i>
		  <i *ngIf="isPlaying" class="bi bi-pause-fill"></i>
		</button>
		<button (click)="nextTrack()"><i class="bi bi-skip-end-fill"></i></button>
		<div class="time" #progressText>00:00 / 00:00</div>
	  </div>
	  <div class="music-info">
		<img [src]="trackInfo[1].coverUrl" alt="cover" width="50" height="50" />
		<div class="infos">
		  <p class="title">{{trackInfo[0].title}}</p>
		  <p class="album-artist">{{trackInfo[1].title}} - {{trackInfo[2].name}}</p>
		</div>
	  </div>
	  <div class="right-controls">
		<button class="volume-button">
		  <i *ngIf="!isMuted" class="bi bi-volume-up" (click)="toggleMute()"></i>
		  <i *ngIf="isMuted" class="bi bi-volume-mute" (click)="toggleMute()"></i>
		  <div class="volume-container">
			<input class="volume-bar" type="range" #volumeBar (input)="setVolume($event)" min="0" max="1" step="0.1" />
		  </div>
		</button>
		<button (click)="seekBackward()">- 10s</button>
		<button (click)="seekForward()">+10s</button>
		<button (click)="toggleShuffle()"><i class="bi bi-shuffle"></i></button>
		<button (click)="toggleLoop()">
		  <i *ngIf="!isLooping" class="bi bi-repeat"></i>
		  <i *ngIf="isLooping" class="bi bi-repeat-1"></i>
		</button>
	  </div>
	</div>
  </div>
  