.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

input[type="range"] {
    -webkit-slider-thumb-background: #ff0000;
    -moz-range-thumb-background: #ff0000;
    -ms-thumb-background: #ff0000;
    accent-color: #ff0000;
}

.progress-bar {
    flex: 1;
    height: 3px;
    position: absolute;
    top: -1.5px;
    width: 100%;
}

.progress-bar:hover {
    flex: 1;
    height: 5px;
    position: absolute;
    top: -2.5px;
    width: 100%;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.volume-container {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateY(-20%);
    display: none;
    padding: 5px;
    border-radius: 5px;
}

.volume-container input[type="range"] {
    width: 100px;
}

.controls .volume-button:hover .volume-container {
    display: block;
}