<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/logo/flex-logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
            Flex
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/musics" routerLinkActive="active">Musics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
                </li>
            </ul>
            <form class="d-flex position-relative w-25" role="search" (ngSubmit)="onSearch()">
                <input class="form-control me-2" id="searchbar" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery" (input)="onSearch()" (focus)="onFocus()" (blur)="onBlur()">
                <div class="search-results position-absolute w-100 custom-margin-top rounded" *ngIf="searchResultsVisible">
                    <div *ngIf="searchResults.artists.length > 0">
                        <h5 class="px-3 pt-2">Artists</h5>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let artist of searchResults.artists" (click)="navigateToArtist(artist.id)">
                                {{ artist.name }}
                            </li>
                        </ul>
                    </div>
                        <div *ngIf="searchResults.albums.length > 0">
                        <h5 class="px-3 pt-2">Albums</h5>
                        <ul class="list-group">
                            <li class="list-group-item element-container" *ngFor="let album of searchResults.albums" (click)="navigateToAlbum(album.id)">
                                {{ album.title }} by {{ album.artist?.name }}
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="searchResults.tracks.length > 0">
                        <h5 class="px-3 pt-2">Tracks</h5>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let track of searchResults.tracks" (click)="navigateToAlbum(track.albumId ?? '')">
                                {{ track.title }} by {{ track.artist?.name }}
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="searchResults.movies.length > 0">
                        <h5 class="px-3 pt-2">Movies</h5>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let movie of searchResults.movies" (click)="navigateToMovie(movie.id)">
                                {{ movie.title }} ({{ movie.year }})
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" (click)="logout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
