.screen {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.media-player {
    position: relative;
    width: 100%; /* Ensure it takes the full width of its container */
    height: 100%;
    margin: auto; /* Center it horizontally */
    display: flex;
    align-items: center;
    overflow: hidden;
}

video {
    width: 100%; /* Ensure video takes the full width of its container */
}

p {
    margin: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.time-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time-control .time {
    margin-right: 10px;
}

input[type="range"] {
    -webkit-slider-thumb-background: #ff0000;
    -moz-range-thumb-background: #ff0000;
    -ms-thumb-background: #ff0000;
    accent-color: #ff0000;
}

.time-control .progress-bar {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.other-controls { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.controls i {
    font-size: 2rem;
    color: white;
}


.controls button:hover {
    animation: zoom 0.2s forwards;
}

.controls button:not(:hover) {
    animation: zoom-out 0.2s forwards;
}

 @keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.controls .play-pause:hover i {
    color: #ff0000;
}

.controls .volume-button:hover {
    animation: none;
}

.controls .volume-button:not(:hover) {
    animation: none;
}

.close-button {
    position: absolute;
    top: 10px; /* Adjust the position as needed */
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-button i {
    font-size: 2rem;
    color: white;
}

.left-controls .right-controls{
    display: flex;
    align-items: center;
    width: 30%;
}

.volume-container {
    position: absolute;
    bottom: 0; /* Align with the bottom of the button */
    left: 100%; /* Position to the right of the button */
    transform: translateY(-20%);
    display: none;
    padding: 5px;
    border-radius: 5px;
}

.volume-container input[type="range"] {
    width: 100px;
}

.controls .volume-button:hover .volume-container {
    display: block;
}

.settings-menu {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0px; /* Adjust based on button size */
    padding-bottom: 80px;
    width: 200px;
}

.settings-menu label {
    color: white;
    margin-right: 10px;
}

.settings-menu select,
.settings-menu input {
    margin-bottom: 10px;
}

.title p {
    font-size: 20px;
    margin-bottom: 5px;
}


.controls .settings-button:hover .settings-menu {
    display: block;
}

.controls .settings-button:hover {
    animation: none;
}

.controls .settings-button:not(:hover) {
    animation: none;
}