<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img [src]="album.coverUrl || 'assets/logo/flex-logo-gris.svg'" class="img-fluid rounded" alt="{{ album.title }}">
    </div>
    <div class="col-md-8">
      <h1 class="hover-clickable" (click)="navigateTo('artist/' + artist.id)">{{ artist.name }}</h1>
      <h2 class="hover-clickable" (click)="navigateTo('album/' + album.id)">{{ album.title }}</h2>
    </div>
  </div>
  <div class="container mt-4">
    <div class="col-md-8">
      <h4>Tracks</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between hover-clickable"
          *ngFor="let track of album.tracks; let i = index" (click)="playTrack(track, album, artist)">
          <div>{{ i + 1 }}. {{ track.title }}</div>
          <div>{{ track.duration | durationPipe }}</div>
        </li>
      </ul>
    </div>
    <div class="container mt-4">&nbsp;</div>
    <div class="container mt-4">&nbsp;</div>
  </div>
</div>